<!--incluindo conteudo da pagina base
cuidar caminho no settings no templates-dirs-->
{% extends "global/base.html" %} 

{% block title %}Home |{% endblock title %}

<!--Inserindo conteudo no bloco da pagina base-->
{% block content %}
<div class="main-content container main-content-list">
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
    {% include "recipes/partials/recipe.html" %}
</div>
{% endblock content %}
